<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Spotify to Yt Music Migration</h1>

    <!-- <script type="text/javascript">
      localStorage.setItem("code_verifier", "{{code_verifier}}");
    </script> -->

    <!-- <a href="#" id="code_verifier">Code Verifier</a>
    <script type="text/javascript">
      document
        .getElementById("code_verifier")
        .addEventListener("click", function (event) {
          (function (event) {
            alert(localStorage.getItem("code_verifier"));
          }).call(document.getElementById("code_verifier"), event);
        });
    </script> -->

    <a href="/authorize" id="authorize">Migrate</a>
  </body>
</html>
